@model KindergartenAppService.Models.Enrollment

@{
    ViewData["Title"] = "Detalles de inscripción";
}

<h1>Detalles</h1>

<div>
    <h4>Inscripción</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kid.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Retornar al listado</a>
</div>
