@model IEnumerable<KindergartenAppService.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kid.TutorPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kid.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kid.TutorPrincipal.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a asp-action="Preview" asp-route-id="@item.Id">Detalles</a> 
                <a asp-action="Generate" asp-route-id="@item.Id">Generate</a>
                <a asp-action="Edit2" asp-route-id="@item.KidId">Generate2</a>
            </td>
        </tr>
}
    </tbody>
</table>
