@model IEnumerable<KindergartenAppService.Models.Invoice>

@{
    ViewData["Title"] = "Facturas del mes";
    if (TempData["CantDelete"] != null)
    {
        <div class="alert alert-danger">
            @TempData["CantDelete"]
        </div>
    }
}

<h1>Facturas del mes @Model.FirstOrDefault().DueMonth </h1>

<script>
                     function SwitchMonth()
                     {
                         var e = document.getElementById("MonthSpanish");
                         var strUser = e.options[e.selectedIndex].value;

                         window.location.href = '@Url.Action("Index", "Invoices")?month='+strUser;

                     }
</script>
<script src="~/lib/jquery/dist/jquery.js">
</script>
<script>

    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            console.log("key up");
            var value = $(this).val().toLowerCase();
            $("#invoicetable .tr-detail").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
@*@Html.DropDownListFor(m => m.ActivityId, ViewBag.ActivityId as SelectList, "Seleccionar Actividad", new { @class = "form-control", @onchange = "AddService()", id = "ActivityId2" })*@
@Html.DropDownList("MonthSpanish", Html.GetEnumSelectList<MonthSpanish>(), "Seleccionar mes", new { @class = "form-control", @onchange = "SwitchMonth()" })


@*@Html.DropDownList(
    "MonthSpanish", Html.GetEnumSelectList<MonthSpanish>(),
    "Selecciona un mes",
    new { @class = "form-control" })*@
@*<span asp-validation-for="MonthSpanish" class="text-danger"></span>*@
<script src="~/lib/jquery/dist/jquery.js">
</script>

<div class=" container-fluid">
    <div class="row">
        <div class="col">

            <p>
                <a class="btn btn-success btn-block btn-lg mt-3" asp-controller="invoices" asp-action="GenerateAll" asp-route-month="@Model.FirstOrDefault().DueDate.Month">Generar facturas</a>

            </p>
        </div>
        <div class="col">
            <input id="filter" class="float-right form-control mt-4" type="text" placeholder="" />
        </div>
    </div>
</div>
<table id="invoicetable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneratedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kid.TutorPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tr-detail">
                <td>
                    @Html.DisplayFor(modelItem => item.Document)
                </td>
                <td>
                    @item.GeneratedDate.ToString("dd-MM-yyyy")
                </td>

                <td>
                    @item.DueDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    <a class="link" disable asp-controller="Kids" asp-action="Details" asp-route-id="@item.KidId">
                        @Html.DisplayFor(modelItem => item.Kid.FullName)
                    </a>
                </td>
                <td>
                    <a class="link" disable asp-controller="Tutors" asp-action="Details" asp-route-id="@item.Kid.TutorPrincipalId">
                        @Html.DisplayFor(modelItem => item.Kid.TutorPrincipal.FullName)
                    </a>
                </td>
                <td>
                    @string.Format("{0:C}", item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> -->
                    @{if (item.Status == InvoiceStatus.Preview)
                        {

                            <button type="button" class="btn btn-outline-info" disabled>Vista previa</button>
                            <a class="btn btn-success" disable asp-action="Generate" asp-route-id="@item.KidId" asp-route-month="@item.DueDate.Month">Generar</a>
                            <button type="button" class="btn btn-outline-danger" disabled>Cancelar</button>
                            <button type="button" class="btn btn-outline-primary" disabled>Pagar</button>

                        }
                        else
                        {
                            <a class="btn btn-info" asp-action="Preview" asp-route-id="@item.Id">Vista previa</a>
                            <button type="button" class="btn btn-outline-success" disabled>Generar</button>
                            <a class="btn btn-danger" disable asp-action="Cancelar" asp-route-id="@item.Id">Cancelar</a>
                            @if (item.Status == InvoiceStatus.Paid)
                            {
                                <button type="button" class="btn btn-outline-primary" disabled>Pagar</button>
                            }
                            else
                            {
                                <a class="btn btn-primary" disable asp-action="Payment" asp-route-id="@item.Id">Pagar</a>
                            }
                        }}
                </td>
            </tr>
        }
    </tbody>
</table>
