@model KindergartenAppService.Models.Payment
@{
        ViewData["Title"] = "Pago";
        Layout = "~/Views/Shared/_Layout.cshtml";
        Invoice invoice = (Invoice)ViewData["invoice"];

        if (ViewData["Rango"] != null)
        {
        <div class="alert alert-danger">
            @ViewData["Rango"].ToString()
        </div>
    }
}
    <div class="card">
        <div class="card-header">
            Datos de factura
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Documento</h5>
                        <p class="card-text">@ViewData["doc"]</p>
                        <h5 class="card-title">Restante</h5>
                        <p class="card-text">@ViewData["remaining"]</p>
                        <h5 class="card-title">Vencimiento</h5>
                        <p class="card-text">@invoice.DueDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div>
                        <h5 class="card-title">Niño</h5>
                        <p class="card-text">@invoice.Kid.FullName</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
     </br>
<h1>Pago</h1>

<div class="row">
    <div class="col-10">
        <form asp-action="Pay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-lg-6">

                        <div class="form-group">
                            <label asp-for="Amount" class="control-label">Monto</label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group hide">
                            <label asp-for="InvoiceId" class="control-label">Factura</label>
                            <input asp-for="InvoiceId" class="form-control "readonly />
                            <span asp-validation-for="InvoiceId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Pagar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


