@model KindergartenAppService.Models.EnrollActivity

@{
    ViewData["Title"] = "Detalles de registro de actividad";
}

<h1>Detalles</h1>

<div>
    <h4>Registro de actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.Kid.FullName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    <a asp-action="Index">Retornar al listado</a>
</div>
