@model IEnumerable<KindergartenAppService.Models.Service>

@{
    ViewData["Title"] = "Servicios";
}

<h1>Servicios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
