@model List<Kid>
<style>
    .bg-white{
        background: white;
    }
    td, th{
        font-size:18px;
    }
</style>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="">
                            <img src="~/assets/images/logokphsm.jpg" alt="allytees-500-trans.png" width="120">
                        </div>

                        <h1>Cumpleaños</h1>
                        <strong> @*@Model.Payments.FirstOrDefault().Invoice.Kid.Kindergarter.Description*@</strong>
                        <br>
                        @*@Model.Payments.FirstOrDefault().Invoice.Kid.Kindergarter.Address*@
                        <br>

                        @*@*<abbr title="Teléfono"></abbr@ @Model.Payments.FirstOrDefault().Invoice.Kid.Kindergarter.Phone*@

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Fecha: @DateTime.Now.ToString("dd-MM-yyyy")</em>
                        </p>
                        <p>
                            @* <em>Recibo: @Html.DisplayFor(modelItem => Model.Document)</em>*@
                        </p>
                        <p>
                            <em>@*Factura: @Html.DisplayFor(modelItem => Model.AffectedDocument)*@</em>
                        </p>
                        </br>
                        <h4>
                            @*@Html.DisplayFor(modelItem => Model.Payments.FirstOrDefault().Invoice.Kid.FullName)*@
                        </h4>
                        <h5>
                            @*@Html.DisplayFor(modelItem => Model.Payments.FirstOrDefault().Invoice.Kid.TutorPrincipal.FullName)*@
                        </h5>
                    </div>
                </div>
                <div>
                    <h1 style="text-align:right;">
                        @*Thank you for your order.*@
                    </h1>

                </div>
            </div>




        </div>
    </div>

    <div class="row">
        <table class="table table-responsive-sm ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Niño</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Edad</th>
                </tr>
            </thead>
            <tbody>


                @{
                    int kidCount = 0;
                    int monthKodCount = 0;
                    var monthlyGroup = Model.OrderBy(k=>k.BirthDate.Day)
                        .GroupBy(k => k.BirthMonthSpanish)
                        .OrderBy(k => k.Key);
                }


                @foreach (var group in monthlyGroup)
                {

                    <tr class="table-secondary">
                        <td class="table-secondary" colspan="5">
                            @group.Key

                        </td>
                    </tr>
                        @foreach (var kid in group)
                        {

                            {
                                kidCount++;
                                monthKodCount++;
                            }
                            <tr>
                                <th scope="row">@monthKodCount</th>
                                <td>@kid.FullName</td>
                                <td>@kid.BirthDate.ToString("dd/MM/yyyy")</td>
                                <td>@kid.Age</td>
                            </tr>
                        }
                    monthKodCount = 0;
                }


                @*@foreach (var item in Model)
                {
                    {
                        kidCount++;
                    }
                    <tr>
                        <th scope="row">@kidCount</th>
                        <td>@item.FullName</td>
                        @if (item.TutorPrincipal != null)
                        {
                            <td>@item.TutorPrincipal.FullName</td>

                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@item.BirthDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Age</td>
                    </tr>
                }*@
               
                
                <tr>
                    <td class="text-right">
                        <p>
                            <strong>Cantidad: </strong>
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>@kidCount </strong>
                        </p>
                    </td>
                    <td>   </td>
                    @*<td class="text-right">
                <p>
                    <strong>Total: </strong>
                </p>
            </td>
            <td class="text-left">
                <p>
                    <strong>@string.Format("{0:C}", totalAmount)</strong>
                </p>
            </td>*@
                </tr>
            </tbody>
        </table>
    </div>
</div>