@model List<Invoice>
@{
    ViewData["Title"] = "PendingInvoice";
}
<div class="container">
    <div class="row">
        <div class="col">
            
            <table class="table table-responsive-sm table-striped ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Niño</th>
                        <th scope="col">Tutor Principal</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal totalAmount = 0;
                        int kidCount = 0;
                    }

                    @foreach (var item in Model)
                    {
                        kidCount++;
                        <tr class="table-secondary">
                            <th class="table-secondary">@kidCount</th>
                            <td class="table-secondary">@item.Kid.FullName</td>
                            <td class="table-secondary">
                                @if (item.Kid.TutorPrincipal != null)
                                {

                                    @item.Kid.TutorPrincipal.FullName
                                }
                            </td>
                            <td class="table-secondary">@item.Document</td>
                            <td class="table-secondary">@item.Status</td>
                            <td class="table-secondary"> <b>@string.Format("{0:C}", item.Price)</b></td>
                        </tr>
                               @foreach(var detail in item.InvoiceDetails){
                <tr class="table-sm">
                    <td  colspan="3">


                    </td>
                    <td colspan="2" class=text-right>
                        @detail.Item.Description


                    </td>
                    <td>
                        @string.Format("{0:C}", detail.Item.Price)


                    </td>
                </tr>
                               }
                        totalAmount += item.Price;
                    }

                    <tr>
                        <td class="text-right">
                            <p>
                                <strong>Cantidad: </strong>
                            </p>
                        </td>
                        <td>
                            <p>
                                <strong>@kidCount </strong>
                            </p>
                        </td>
                        <td>   </td>
                        <td>   </td>
                        <td class="text-right">
                            <p>
                                <strong>Total: </strong>
                            </p>
                        </td>
                        <td class="text-left">
                            <p>
                                <strong>@string.Format("{0:C}", totalAmount)</strong>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
