@model Receipt
<style>
    @@media print {
         p.bodyText {color:#2071f5;}
      }
    @@media screen, print {
         p.bodyText {color:#2071f5;}

      }
    .container-fluid,.table,.recibe,.blue{
        color:#2071f5;

    }
    .bg-white {
        background: white;
    }
    
    td, th{
        font-size:18px;
    }
     p{
        font-size:18px;
    } 
</style>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid bg-white">
    <div class="toolbar hidden-print">
        <div class="text-right">
            @*<button id="printRecibe" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>*@
            @*<a class="btn btn-info" asp-controller="Invoices" asp-action="GeneratePDF">PDF</a>
                <a class="btn btn-info" asp-controller="Invoices" asp-action="CreatePDF">PDF2</a>
                <a class="btn btn-info" asp-controller="Invoices" asp-action="CreatePDF2">PDF22</a>*@

        </div>
        <hr>
    </div>
    <div class="recibe row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="">
                        <img src="~/assets/images/logokphsm.jpg" alt="allytees-500-trans.png" width="120">
                    </div>

                    <h1>Recibo</h1>
                    <strong> @Model.Payments.FirstOrDefault().Invoice.Kid.Kindergarter.Description</strong>
                    <br>
                    @Model.Payments.FirstOrDefault().Invoice.Kid.Kindergarter.Address
                    <br>

                    @*<abbr title="Teléfono"></abbr>*@ @Model.Payments.FirstOrDefault().Invoice.Kid.Kindergarter.Phone

                </div>
                <div class="receipt-info col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Fecha: @Model.GeneratedDate.ToString("dd-MM-yyyy")</em>
                    </p>
                    <p>
                        <em>Recibo: @Html.DisplayFor(modelItem => Model.Document)</em>
                    </p>
                    <p>
                        <em>Factura: @Html.DisplayFor(modelItem => Model.AffectedDocument)</em>
                    </p>
                    </br>
                    <h3>
                        @Html.DisplayFor(modelItem => Model.Payments.FirstOrDefault().Invoice.Kid.FullName)
                    </h3>
                    <h4>
                        @Html.DisplayFor(modelItem => Model.Payments.FirstOrDefault().Invoice.Kid.TutorPrincipal.FullName)
                    </h4>
                </div>
            </div>
            <div class="row">
                </span>
                <h3>Concepto</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Servicio</th>
                            <th>#</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 0;}
                        @{decimal subTotal = 0;}
                        @{decimal totalLinea = 0;}
                        @foreach (var item in Model.Payments)
                        {
                            foreach (var detalles in item.Invoice.InvoiceDetails)
                            {

                                <tr>
                                    @{ totalLinea = detalles.Amount * detalles.Quantity;}
                                    @{subTotal += detalles.Amount;}
                                    <td class="col-md-9"><em>@detalles.Item.Description (@item.Invoice.DueMonth)</em></td>
                                    <td class="col-md-1" style="text-align: center"> @detalles.Quantity </td>
                                    <td class="col-md-1 text-center">@detalles.Amount</td>
                                    <td class="col-md-1 text-center">@totalLinea </td>
                                </tr>
                            }
                        }

                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                @*<p>
                                        <strong>Tax: </strong>
                                    </p>*@
                            </td>
                            <td class="text-center">
                                <p>
                                    <strong>@string.Format("{0:C}", @subTotal)</strong>
                                </p>
                                @*<p>
                                        <strong>@string.Format("{0:C}", @subTotal)</strong>
                                    </p>*@
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Recibido: </strong></h4></td>
                            <td class="text-center text-success">
                                <h4>
                                    <strong>
                                        @string.Format("{0:C}", Model.Amount)
                                        @*@Model.Amount*@
                                    </strong>
                                </h4>
                            </td>

                        </tr>
                        @if (TempData["remainding"] != null)
                        {
                        <td>   </td>
                        <td>   </td>
                        <td class="text-right"><h4><strong>Restante: </strong></h4></td>
                        <td class="text-center text-danger">
                            <h4>
                                <strong>
                                    @string.Format("{0:C}", TempData["remainding"].ToString())
                                    @*@Model.Amount*@
                                </strong>
                            </h4>
                        </td>
                    }


                        </tbody>
                    </table>
                    <div>

                        <p style="text-align:right;justify-content:right;" class="text-right">
                            @*(Pago completo)*@
                        </p>
                    </div>
                    <div>
                        <h1 style="text-align:right;">
                            @*Thank you for your order.*@
                        </h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js">
    </script>
    <script>


    </script>