@model KindergartenAppService.Models.Activity

@{
    ViewData["Title"] = "Detalles de actividad";
}
@if (TempData["SuccessfullMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessfullMessage"]
    </div>
}
<h1>Detalles</h1>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityTemplate.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    @if (TempData["SuccessfullMessage"] != null)
    {
        <a class="btn btn-primary" asp-action="Create" asp-route-id="@Model.Id">Crear otra</a>

    }
    <a asp-action="Index">Retornar al listado</a>
</div>
