@model KindergartenAppService.Models.Kid

@{
    ViewData["Title"] = "Detailles de Niño";
}
@if (TempData["TempMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["TempMessage"]
    </div>
}
<h1>Detalles</h1>

<div>
    <h4>Niño</h4>
    <hr />
    <div class="container">
        <div class="row">

            <div class="col-7">

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.SecondName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SecondName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FatherName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.MotherName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MotherName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Sex)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Sex)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Grade)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Grade)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FavoriteActivities)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FavoriteActivities)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.SiblingCount)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SiblingCount)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TShirtSize)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TShirtSize)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Diseases)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Diseases)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Pediatrician)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Pediatrician.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TutorPrincipal)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TutorPrincipal.FullName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TutorSecundary)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TutorSecundary.FullName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TutorAutorized)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TutorAutorized.FirstName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Kindergarter)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Kindergarter.Description)
                    </dd>
                </dl>

            </div>
            @* Enrollment *@
        <div class="col-5">
            @if (Model.Enrollment != null)
            {


                <h5>Fecha de inscripción a la institución</h5>
                <p>@Model.Enrollment.EnrollDay.ToShortDateString()</p>
                <p>
                    <a class="btn btn-primary" asp-action="EnrollActivity" asp-route-id="@Model.Enrollment.Id">Inscribir en actividad</a>
                    <a class="btn btn-primary" asp-action="AccountState" asp-route-id="@Model.Enrollment.Id">Estado de cuenta</a>
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Actividades inscritas
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Enrollment.EnrollActivities != null)
                        {
                            @foreach (var item in Model.Enrollment.EnrollActivities)
                            {
                                <partial name="PartialEnrollment/EnrollActivityLine" model="item" />


                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Enroll" asp-route-id="@Model.Id">Inscribir</a>
            }


        </div>
            </div>
        </div>
    </div>

<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    @if (TempData["TempMessage"] != null)
    {
        <a class="btn btn-success" asp-action="Create" asp-route-id="@Model.Id">Crear Otro</a>

    }
    <a asp-action="Index" |>Back to List</a>
</div>
