@model KindergartenAppService.Models.Kid

@{
    ViewData["Title"] = "Detailles de Niño";
}
@if(TempData["TempMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["TempMessage"]
    </div>
}
<h1>Detalles</h1>

<div>
    <h4>Niño</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kindergarter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kindergarter.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.FullName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    @if (TempData["TempMessage"] != null)
    {
        <a class="btn btn-success" asp-action="Create" asp-route-id="@Model.Id">Crear Otro</a> 

}
    <a asp-action="Index"| >Back to List</a>
</div>
