@model IEnumerable<KindergartenAppService.Models.Kid>

@{
    ViewData["Title"] = "Niños";
}

<h1>Niños</h1>
<script src="~/lib/jquery/dist/jquery.js">
</script>
<script>

    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            console.log("key up");
            var value = $(this).val().toLowerCase();
            $("#kidtable .tr-detail").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<div class=" container-fluid">
    <div class="row">
        <div class="col">

            <p>
                <a class="btn btn-success" asp-action="Create">Crear nuevo Niño</a>
            </p>
        </div>
        <div class="col">
            <input id="filter" class="float-right mb-4 form-control" type="text" placeholder="" />
        </div>
    </div>
</div>

<table id="kidtable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="d-none d-lg-table-cell">
                @Html.DisplayNameFor(model => model.Kindergarter)
            </th>
            <th class="d-none d-lg-table-cell">
                @Html.DisplayNameFor(model => model.TutorPrincipal)
            </th>
            <th class="d-none d-lg-table-cell">
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                Inscrito
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tr-detail">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.Kindergarter.Description)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.TutorPrincipal.FullName)
            </td>

            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            @if (item.Enrollment != null)
            {
                <td>Si</td>
            }
            else
            {
                <td>No</td>
            }
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
